<!-- Description Section Start -->
<div id="description-section">
    <h3>Description</h3>
    <input type="textarea" placeholder="what do you need to do ?" required name="description">
</div>
<!--End Description Section -->

<!-- Category Section Start -->
<div id="category-date-section">
    <div class="select_and_input">
        <h3>Category</h3>
        <select name="category">
            <option value disabled class="inner-text" selected>Select Your Option</option>
            <option>Personal</option>
            <option>Work</option>
            <option>Cleaning</option>
            <option>Others</option>
        </select>
    </div>
<!-- End Category Section -->

    <!-- Due Date Section Start -->
    <div class="select_and_input">
        <h3>Due Date</h3>
        <input class="date-icon" type="date" name="dueDate">
    </div>
    <!-- End Due Date Section -->
</div>